/* poppins-regular - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/poppins-v20-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: local(""),
        url("../fonts/poppins-v20-latin-600.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/poppins-v20-latin-600.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: local(""),
        url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/poppins-v20-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Arial", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

/* =================================================== 
                Site Header Start 
=================================================== */

.site-header {
    padding: 20px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-item:not(:first-child) {
    margin-left: 40px;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    color: #067164;
}

.hero-btn-login {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #393939;
    text-decoration: none;
    transition: 0.3s;
}

.hero-btn-login:hover {
    color: #067164;
}

.hero-btn-signin {
    margin-left: 21px;
    padding: 12px 30px;
    background-color: #1C1C1C;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.hero-btn-signin:hover {
    background-color: #067164;
}

/* =================================================== 
                Site Header Finish 
=================================================== */

/* =================================================== 
                Site Hero Start 
=================================================== */

.site-hero {
    padding-top: 68px;
}

.hero-title-top {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #067164;
}

.hero-title {
    font-weight: 700;
    font-size: 68px;
    line-height: 82px;
    color: #1C1C1C;
    margin-bottom: 20px;
}

.hero-text {
    width: 443px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    margin-bottom: 26px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 30px;
    width: 217px;
    height: 55px;
    background: #067164;
    border-radius: 6px;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #000;
}

.hero-btn:hover,
.hero-btn:hover a {
    color: #000;
    background-color: #fff;
}

.hero-btn a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #fff;
}

/* =================================================== 
                Site Hero Start 
=================================================== */